/* Global styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #070707;
  @apply font-mora-font;
}

@layer components {
  .typed-input {
    @apply w-full h-10 text-lg bg-transparent placeholder-gray-500 border-b border-gray-500 focus:border-gray-200 outline-none transition-all ease-out duration-300
  }

  .textarea-input {
    @apply w-full text-lg bg-transparent placeholder-gray-500 border-b border-gray-500 focus:border-gray-200 outline-none transition-all ease-out duration-300
  }

  .checkbox-input {
    @apply size-5 accent-mora-red
  }

  .select-input {
    @apply w-full h-10 text-lg bg-transparent text-gray-500 appearance-none border-b border-gray-500 focus:border-gray-200 outline-none
  }

  .select-input-placeholder {
    @apply text-gray-500
  }

  .select-input-selected {
    @apply text-white border-red-500
  }

  .form-label {
    @apply text-lg
  }

  .form-btn {
    @apply w-[120px] h-[40px] mt-5 border-2 border-white rounded-xl text-lg font-bold hover:bg-mora-red active:translate-y-1
  }

}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .text-balance {
    text-wrap: balance;
  }

  .remove-arrow::-webkit-inner-spin-button,
  .remove-arrow::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .remove-arrow {
      -moz-appearance: textfield;
  }

}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Change this to your desired thumb color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change this to your desired hover color */
}

::-webkit-scrollbar-track {
  background-color: #000000; /* Change this to your desired track color */
}
