ul{
    font-family: Inter, sans-serif;
    color: #dcdcdc;
}

li:hover{
    color: #ffffff;
    transition-duration: 0.6s;
    font-weight: bold;
}

/* Styles for the navbar links */
ul li {
    position: relative;
    padding-bottom: 5px;
}

/* The bar that appears on hover */
ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #ffffff; /* Change this to your desired color */
    transition: width 0.3s ease-in-out;
}

/* Expand the bar on hover */
ul li:hover::after,
ul li.active::after {
    width: 100%;
}

ul li.active a {
    font-weight: bold;
}

